.homepage {
  background-color: #121212;
}

.tiles__wif-intro-container:empty {
  display: none;
}

.tiles__wif-intro-container {
  position: relative;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto 14px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tiles__wif-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.tiles__wif-logo-container {
  margin-top: 70px;
}

.tiles__wif-logo {
  height: 100px;
}

.tiles__wif-intro {
  max-width: 59.7%;
  margin: 20px auto 70px;
  color: #fff;
  font-family: EconSans;
  font-size: 20px;
  font-weight: normal;
  line-height: 31px;
  text-align: center;
  pointer-events: none;
}

.tiles__flytitle {
  margin: 0;
  color: #fff;
  font-family: EconSans;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  pointer-events: none;
}

.tiles__item:first-of-type .tiles__flytitle {
  margin: 5px 0;
  font-size: 48px;
  line-height: 44px;
}

.tiles__rubric {
  display: none;
  max-width: 59.7%;
  color: #fff;
  font-family: EconSans;
  font-size: 20px;
  font-weight: normal;
  line-height: 31px;
  pointer-events: none;
}

.tiles__item:first-of-type .tiles__rubric {
  display: block;
  margin: 20px 0 0;
}

.tiles__section {
  display: none;
  margin: 0 0 5px;
  color: #fff;
  font-family: EconSans;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 22px;
  text-transform: uppercase;
  pointer-events: none;
}

.tiles__unpublished-message {
  max-width: 59.7%;
  color: #fff;
  font-family: EconSans;
  font-size: 20px;
  font-weight: normal;
  line-height: 31px;
  text-align: center;
  pointer-events: none;
}

/* stylelint-disable selector-no-type */
/* tags come from cms */

.tiles__unpublished-message strong,
.tiles__unpublished-message em {
  color: #fff600;
  font-weight: 700;
}

/* stylelint-enable selector-no-type */

@media (max-width: 1024px) {
  .tiles__flytitle {
    font-size: 21px;
    line-height: 20px;
  }
  .tiles__item:first-of-type .tiles__flytitle {
    margin: 5px 0;
    font-size: 30px;
    line-height: 28px;
  }
  .tiles__rubric {
    max-width: 80%;
    font-size: 18px;
    line-height: 27px;
  }
  .tiles__section {
    font-size: 19px;
    line-height: 19px;
  }
  .tiles__unpublished-message {
    max-width: 75%;
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 560px) {
  .tiles__flytitle {
    font-size: 16px;
    line-height: 16px;
  }
  .tiles__item:first-of-type .tiles__flytitle {
    margin: 5px 0;
    font-size: 22px;
    line-height: 20px;
  }
  .tiles__rubric {
    max-width: none;
    font-size: 16px;
    line-height: 22px;
  }
  .tiles__item:first-of-type .tiles__rubric {
    display: block;
    margin: 16px 0 0;
  }
  .tiles__section {
    font-size: 16px;
    line-height: 16px;
  }
  .tiles__unpublished-message {
    max-width: none;
    font-size: 16px;
    line-height: 24px;
  }
}

.tiles__section--politics {
  color: #e3120b;
}

.tiles__section--business-economics {
  color: #08c5b2;
}

.tiles__section--science-technology {
  color: #f39200;
}

.tiles__section--history {
  color: #4e64b5;
}

.tiles__item:first-of-type .tiles__section {
  display: block;
}

.tiles__item--unpublished {
  & .tiles__image-container::before {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
  & .tiles__content-container {
    opacity: 0.1;
  }
}

.tiles__flex-section-container {
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 1190px;
  margin-right: auto;
  margin-left: auto;
  align-self: flex-start;
  flex-direction: column;
}

.tiles__section-item {
  display: flex;
  margin: 0 -7px;
  align-items: center;
  justify-content: center;
}

.tiles__link {
  width: 100%;
}

.tiles__flex-container {
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tiles__item {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 210px;
  margin-bottom: 14px;
  align-items: center;
  flex-basis: 25%;
  flex-grow: 1;
  justify-content: center;
  line-height: 0;
}

.tiles__item-inner {
  width: 100%;
  padding: 0 7px;
}

.tiles__item:first-of-type {
  width: 100%;
  height: 297px;
  flex-basis: 100%;
}

@media (max-width: 1024px) {
  .tiles__section-item {
    margin: 0 -6px;
  }
  .tiles__item {
    height: 185px;
    margin-bottom: 12px;
    flex-basis: 50%;
  }
  .tiles__item:first-of-type {
    height: 272px;
    flex-basis: 100%;
  }
  .tiles__item-inner {
    padding: 0 6px;
  }
  .tiles__wif-intro-container {
    margin-bottom: 12px;
  }
}

@media (max-width: 560px) {
  .tiles__section-item {
    margin: 0 -5px;
  }
  .tiles__item {
    height: 140px;
    margin-bottom: 9px;
  }
  .tiles__item:first-of-type {
    height: 232px;
  }
  .tiles__item-inner {
    padding: 0 5px;
  }
  .tiles__wif-intro-container {
    margin-bottom: 9px;
  }
}

.tiles__image-container {
  position: relative;
}

.tiles__image-container .tiles__image {
  width: 100%;
}

.tiles__image-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  transition: 0.5s;
}

.tiles__link:hover .tiles__image-container::before {
  opacity: 0.3;
}

.tiles__content-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px 37px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tiles__unpublished-message-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px 37px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .tiles__content-container {
    padding: 25px 31px;
  }
  .tiles__unpublished-message-container {
    padding: 25px 31px;
  }
}

@media (max-width: 560px) {
  .tiles__content-container {
    padding: 20px 25px;
  }
  .tiles__unpublished-message-container {
    padding: 20px 25px;
  }
}

@media (max-width: 1024px) {
  .tiles__wif-logo-container {
    margin-top: 55px;
  }
  .tiles__wif-logo {
    height: 86px;
  }
  .tiles__wif-intro {
    max-width: 80%;
    margin: 18px auto 55px;
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 800px) {
  .tiles__wif-logo {
    height: 76px;
  }
}

@media (max-width: 560px) {
  .tiles__wif-logo-container {
    margin-top: 40px;
  }
  .tiles__wif-logo {
    height: 66px;
  }
  .tiles__wif-intro {
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 480px) {
  .tiles__wif-logo {
    height: 48px;
  }
}

.tiles__year-divider {
  position: relative;
  width: 100%;
  max-width: 1190px;
  height: 50px;
  margin: 0 auto;
  color: #fff;
  font-family: EconSans;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #3ca8df;
}

@media (max-width: 1024px) {
  .tiles__year-divider {
    height: 36px;
    font-size: 18px;
    line-height: 36px;
  }
}

@media (max-width: 560px) {
  .tiles__year-divider {
    height: 32px;
    font-size: 16px;
    line-height: 32px;
  }
}

.econsans--light {
  font-weight: 300;
}
